.recommended-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
}
.recommended-flex {
  margin-top: 10px;
}

.recommended-title {
  font-size: 20px;
}
