.card {
  max-width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
}

.card:hover {
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.21);
  transform: translateY(-2px);
  transition: transform 0.3s ease;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.card-img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.card-title {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #333;
}

.card-reviews {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #ffcc00;
  font-size: 1.2rem;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
  color: #555;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price del {
  color: #888;
  font-size: 1rem;
}

.discount-price {
  color: #28a745;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
}

.bag-icon {
  color: #333;
  font-size: 1.5rem;
}
