nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

input {
  width: 100%;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

input:focus {
  border-color: #ff0000; /* Focused input border color */
}

.profile-container {
  display: flex;
  gap: 20px;
  color: #333;
}

.nav-icons {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-icons:hover{
  color: #ff0000;
}
