/* Container to hold Sidebar and main content */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.Sidebar {
  width: 240px;
  border-right: 1px solid rgba(128, 128, 128, 0.251);
  padding: 2rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/* Main content styles */
.main {
  margin-left: 240px;
  width: calc(
    100% - 240px
  ); /* Ensure the main content takes up the remaining space */
  padding: 2rem;
  overflow-y: auto; /* Allow scrolling if content overflows */
  background-color: #fff;
}

@media (max-width: 768px) {
  /* Responsive styles */
  .Sidebar {
    width: 100%;
    position: static; /* Make the sidebar flow with the content */
    height: auto;
    padding: 1rem;
  }

  .main {
    margin-left: 0;
    width: 100%;
  }

  .Products {
    grid-template-columns: repeat(2, 1fr);
  }

  .Recommended {
    justify-content: center;
  }

  .Navigation {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .Navigation input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .Navigation .icons {
    margin-top: 1rem;
  }
}
